
<html>
<head>        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style type="text/css">
    .cel{
        height:180px;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 100px;
        font-family: "Comic Sans MS";
        font-weight:bold;
    }
    input[type=radio] {
    border: 0px;
    width: 180px;
    height: 180px;
}
</style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    logOut = function(){
        $.ajax({
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })
    }   
    </script>
</head>
<body>
	<a class="cel btn btn-primary">Nova Questão</a>
	<form id="form" method="post">
   		<input type="text" name="label" value="Título" class="cel"><br>
   		<textarea  name="content" class="cel" style="font-size:50px;font-weight:normal;">Enunciado</textarea><br>
   		<input type="hidden" name="group_id" value="{{group_id}}">
   		<div class="display:block;"><input type="radio" name="answer" value="0" checked style="display: inline;"> <input type="text" name="a" value="A..." class="cel" style="width:720px;align:right;display: inline;"></div><br>
   		<div class="display:block;"><input type="radio" name="answer" value="1" style="display: inline;"> <input type="text" name="b" value="B..." class="cel" style="width:720px;align:right;display: inline;"></div><br>
   		<div class="display:block;"><input type="radio" name="answer" value="2" style="display: inline;"> <input type="text" name="c" value="C..." class="cel" style="width:720px;align:right;display: inline;"></div><br>
   		<div class="display:block;"><input type="radio" name="answer" value="3" style="display: inline;"> <input type="text" name="d" value="D..." class="cel" style="width:720px;align:right;display: inline;"></div><br>

    	<input type="submit" value="Enviar" class="cel btn btn-success">
	</form>
    <a id="back" href="/" class="cel btn btn-danger"> 
        Voltar
    </a>
</body>
</html>
