
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    logOut = function(){
        $.ajax({
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })
    }   
    </script>
</head>
<body>
	<b>Questão</b>
	<form id="form" method="post">
   		Titulo: <input type="text" name="label"><br>
   		Enunciado: <textarea  name="content"></textarea><br>
   		<input type="hidden" name="group_id" value="{{group_id}}">
   		<input type="radio" name="answer" value="a">Opção A: <input type="text" name="a"><br>
   		<input type="radio" name="answer" value="b">Opção B: <input type="text" name="b"><br>
   		<input type="radio" name="answer" value="c">Opção C: <input type="text" name="c"><br>
   		<input type="radio" name="answer" value="d">Opção D: <input type="text" name="d"><br>
    	<input type="submit" value="Enviar">
	</form>
    <a id="back" href="/"> 
        Voltar
    </a>
</body>
</html>
