
<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    logOut = function(){
        $.ajax({
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })
    }   
    </script>
</head>
<body>
	<b>Grupo</b>
	<form id="form" method="post">
   		Nome: <input type="text" name="name"><br>
   		Descrição: <textarea name="description"></textarea><br>
    	<input type="submit" value="Enviar">
	</form>
    <a id="back" href="/"> 
        Voltar
    </a>
</body>
</html>
