
<!DOCTYPE html>
<html><head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
    
    logOut = function(){
        $.ajax({ 
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })  
    }
    </script>
</head>
<body>
    {% for group in groups %}
    <form method="post">
        <input name="name" type="submit" id="{{group[1]}}" href="/group?group_id={{group[1]}}" value="{{group[0]}}">
        <input name="group_id" type="hidden" value="{{group[1]}}">
        <br>
    </form>
    {% endfor %}
    <a id="back" href="/"> 
        Voltar
    </a>
</body>
</html>
