
<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
    
    logOut = function(){
        $.ajax({ 
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })	
    }
    </script>
    <b>{{ name }}</b>
</head>
<body>
    {{ description }} <br>
    {% for question in questions %}
        <div id={{ question[1] }} href="/question?question_id={{question[1]}}">
            {{ question[0] }}
        </div>
    {% endfor %}
    <a id="logout" href="/"> 
        Voltar
    </a>
</body>
</html>
