
<!DOCTYPE html>
<html><head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
    
    logOut = function(){
        $.ajax({ 
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })  
    }
    </script>
</head>
<body>
    {% if isProf %}
    <a name="criar_grupo" href="/add">
        Criar Grupo
    </a><br>
    {% endif %}
    {% if isProf == 0 %}
    <a name="entrar_grupo" href="/enter">
        Entrar em Grupo
    </a><br>
    {% for group in groups %}
        <a id="{{group[1]}}" href="/group?group_id={{group[1]}}">
            {{ group[0] }}
        </a>
        <br>
    {% endfor %}
    <form method="post">
    <input id="logout" url="" name="action" type="submit" value="Sair"> 
    </input>
    </form>
</body>
</html>
