
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    questions = function (id) {
     window.location.href = '/questions?questions_id' + id;
    }  
    groups = function (id) {
        windows.location.href = '/groups?groups_id' + id;
    }
    logOut = function(){
        $.ajax({
            type: POST,
            url: "",
            data: {'action': 'logout'},
            success: function (data){
                window.location = "http:/clickerhum.appspot.com/"
            }
        })
    }   
    </script>
</head>
<body>
    Número de Respostas:<br>
    {% if answer == 0 %}<b>{% endif %}A: {{ ra }}{% if answer == 0 %}</b>{% endif %}<br>
    {% if answer == 1 %}<b>{% endif %}B: {{ rb }}{% if answer == 1 %}</b>{% endif %}<br>
    {% if answer == 2 %}<b>{% endif %}C: {{rc}}{% if answer == 2 %}</b>{% endif %}<br>
    {% if answer == 3 %}<b>{% endif %}D: {{rd}}{% if answer == 3 %}</b>{% endif %}<br>
    <div id="back" href="http:/clickerhum.appspot.com/"> 
        Voltar
    </div>
</body>
</html>
